<div class="items">
    <md-card class="item" *ngFor="let movie of movies">
        <md-card-header>
            <md-card-title>{{movie.original_title}}</md-card-title>
            <md-card-subtitle>{{movie.release_date | date}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster movie">
        <md-card-actions>
            <a [routerLink]="['/movie', movie.id]"><md-icon>visibility</md-icon></a>
            <button md-button><md-icon>share</md-icon></button>
            <button md-button (click)="deleteMovie(movie.$key)"><md-icon>delete</md-icon></button>
        </md-card-actions>
    </md-card>
</div>
