body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #3F4C58;
    color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*
* COMMON *
*/

.app-content {
    padding: 20px;
    text-align: center;
}
a {
    color: rgb(255, 87, 34);
    text-decoration: none;
    cursor: pointer;
}
button.app-icon-button {
    background: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    outline: none;
    color: #FFF;
}
button.md-simple-snackbar-action {
    color: #00796b !important;
}
.genre {
    display: inline-block;
    padding-right: 5px;
}
h1 {
    font-weight: 100;
}
h2 {
    font-weight: 100;
}
iframe {
    width: 100%;
    max-height: 315px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 3em 0 0 #424242;
    -webkit-text-fill-color: #FFF !important;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-top: -10px;
}
.items .item {
    flex: 1 0 200px;
    /*box-sizing: border-box;*/
    
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
discover-component .items .item.item:last-child,
upcoming-component .items .item.item:last-child,
index-component .items .item:last-child,
search-component .items .item:last-child {
    margin: 0;
    max-width: 100%;
    flex: inherit;
}
.launcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}
md-card > md-card-actions:last-child {
    margin-bottom: 0 !important;
}
md-card {
    margin: 10px 0;
}
md-card-title, md-card-content {
    text-align: left;
}
[md-card-image] {
    width: calc(100% + 20px) !important;
}
.md-movies {
    font-size: 32px;
    vertical-align: middle;
}
.md-green {
    color: #4CAF50;
}
.md-orange {
    color: rgb(255, 87, 34)
}
.md-red {
    color: #F44336;
}
.md-yellow {
    color: #FFC107;
}
.md-teal {
    color: #009688;
}
md-icon {
    vertical-align: middle;
}
md-input {
    margin-right: 15px;
}
movie-component img {
    margin: 10px 0;
}
movie-component md-icon {
    vertical-align: bottom;
}
ul li {
    list-style-type: none;
}
favorite-component [md-button],
watch-later-component [md-button] {
    min-width: 50px;
}
/* 
* NAVIGATION *
*/

#navigation ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
}
#navigation ul > li:first-child:hover {
    background: transparent !important;
}
#navigation ul > li {
    min-height: 48px;
    line-height: 48px;
}
#navigation ul > li md-input {
    padding: 0 0 0 8px;
}
#navigation ul > li:hover {
    background: #EEEEEE;
}
#navigation ul > li > a {
    display: block;
    padding: 8px 24px;
    color: #00796b;
    font-weight: 500;
}
#navigation ul > li > a > span {
    margin-left: 24px;
}
/*
* Pagination *
*/

.pagination {
    padding: 0;
    margin: 0;
}
.pagination li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 30px;
}
.pagination li.disabled a {
    pointer-events: none;
    cursor: default;
    color: #444;
}
.pagination li a {
    color: #00796b;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    /*line-height: 30px;*/
    cursor: pointer;
}
.disabled {
    color: #999;
}
/*
* RESPONSIVE *
*/

@media screen and (max-width: 480px) {
    md-checkbox,
    md-input {
        display: block !important;
        margin: 40px 0;
    }
    sign-in-component a {
        display: block;
        margin-bottom: 10px;
    }
    .pagination {
        -webkit-padding-start: 0 !important;
    }
    movie-component img {
        width: 300px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    movie-component img {
        width: 500px;
    }
}
/** Pagination **/

@media (min-width: 410px) {
    .items .item {
        max-width: calc(50% - 10px);
    }
}
@media (min-width: 620px) {
    .items .item {
        max-width: calc(33.33333% - 10px);
    }
}
@media (min-width: 830px) {
    .items .item {
        max-width: calc(25% - 10px);
    }
}
@media (min-width: 1040px) {
    .items .item {
        max-width: calc(20% - 10px);
    }
}
@media (min-width: 1250px) {
    .items .item {
        max-width: calc(16.66667% - 10px);
    }
}
@media (min-width: 1460px) {
    .items .item {
        max-width: calc(14.28571% - 10px);
    }
}
@media (min-width: 1670px) {
    .items .item {
        min-width: calc(12.5% - 10px);
    }
}