<div *ngIf="photoURL">
    <img src="{{photoURL}}" alt="profile" width="150">
</div>
<h1>{{'profile.title' | translate}} {{displayName}}</h1>
<form (ngSubmit)="onSubmit(formData)" #formData='ngForm'>
    <md-card>
        <md-input-container>
            <input mdInput type="text" name="displayName" [(ngModel)]="displayName" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="email" name="email" [(ngModel)]="email" required>
        </md-input-container>
        <md-checkbox type="checkbox" name="emailVerified" [(ngModel)]="emailVerified" disabled>
            <label>{{'profile.verified' | translate}}</label>
        </md-checkbox>
        <button md-raised-button color="primary" type="submit" [disabled]="!formData.valid">{{'profile.btn-send' | translate}}</button>
    </md-card>
</form>
<h2>{{'profile.subtitle' | translate}}</h2>
<a (click)="confirmDialog()">{{'profile.link' | translate}}</a>