<md-card *ngIf="movie">
    <md-card-header>
        <md-card-title>{{movie.title}}</md-card-title>
        <md-card-subtitle>
            <md-icon>date_range</md-icon> {{movie.release_date | date}} |
            <span *ngIf="movie.vote_average >= 5"> <md-icon class="md-green">thumb_up</md-icon> {{movie.vote_average}} | </span>
            <span *ngIf="movie.vote_average < 5"> <md-icon class="md-red">thumb_down</md-icon> {{movie.vote_average}} | </span>
            <div class="genre" *ngFor="let genre of movie.genres; let i=index">
                <span *ngIf="i < 3">{{genre.name}} </span>
            </div>
        </md-card-subtitle>
    </md-card-header>
    <img src="https://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}" alt="poster movie">
    <md-card-content>
        <p>{{movie.overview}}</p>
    </md-card-content>
    <md-card-actions>
        <div [hidden]="!isConnected">
            <button md-button (click)="saveMovie(movie, 'MovieLater')"><md-icon class="md-teal">watch_later</md-icon> {{'movie.watch' | translate}}</button>
            <button md-button (click)="saveMovie(movie, 'FavoriteMovie')"><md-icon class="md-yellow">star</md-icon> {{'movie.star' | translate}}</button>
        </div>
    </md-card-actions>
</md-card>

<md-card *ngIf="movieVideo">
    <div *ngFor="let movies of movieVideo.results; let i=index">
        <div *ngIf="url != null && i < 1">
            <iframe [src]="url" allowfullscreen></iframe>
        </div>
        <a (click)="seeTrailer(movies.key)">
            <md-icon>local_movies</md-icon>{{'movie.trailer' | translate}} {{i + 1}}</a>
    </div>
</md-card>
<h1>{{'movie.title' | translate}}</h1>
<div class="items" *ngIf="similarMovies">
    <div class="item" *ngFor="let movie of similarMovies.results; let i=index">
        <div *ngIf=" i < 12">
            <a [routerLink]="['/movie', movie.id]">
                <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster movie" width="200">
                <img *ngIf="!movie.poster_path" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg" alt="No poster available" width="200">
                <p>{{movie.title}}</p>
            </a>
        </div>
    </div>
