<md-card *ngIf="movie">
    <md-card-header>
        <md-card-title>{{movie.title}}</md-card-title>
        <md-card-subtitle>
            <md-icon>date_range</md-icon> {{movie.release_date | date: 'dd/MM/yyyy'}} |
             <span *ngIf="movie.vote_average >= 5"> <md-icon class="md-green">thumb_up</md-icon> {{movie.vote_average}}</span>
             <span *ngIf="movie.vote_average < 5"> <md-icon class="md-red">thumb_down</md-icon> {{movie.vote_average}}</span>
        </md-card-subtitle>
    </md-card-header>
    <!--<img src="https://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}" alt="poster movie">-->
    <md-card-content>
        <p>{{movie.overview}}</p>
    </md-card-content>
    <md-card-actions>
        <div [hidden]="!isConnected">
            <button md-button (click)="saveMovie(movie, 'MovieLater')"><md-icon class="md-teal">watch_later</md-icon> I must see it</button>
            <button md-button (click)="saveMovie(movie, 'FavoriteMovie')"><md-icon class="md-yellow">star</md-icon> This is one the best</button>
        </div>
    </md-card-actions>
</md-card>

<md-card *ngIf="movieVideo">
    <div *ngFor="let movies of movieVideo.results; let i=index">
        <div *ngIf="url != null && i < 1">
            <iframe [src]="url" allowfullscreen></iframe>
        </div>
        <a (click)="seeTrailer(movies.key)"><md-icon>local_movies</md-icon>Trailer {{i + 1}}</a>
    </div>
</md-card>