<div class="items">
    <md-card class="item" *ngFor="let movie of movies">
        <md-card-header>
            <md-card-title>{{movie.original_title}}</md-card-title>
            <md-card-subtitle>{{movie.release_date | date: 'dd/MM/yyyy'}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster movie">
        <md-card-actions>
            <a [routerLink]="['/movie', movie.id]">DETAILS</a>
            <button md-button>SHARE</button>
            <button md-button (click)="deleteMovie(movie.$key)">DELETE</button>
        </md-card-actions>
    </md-card>
</div>